<html>
<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="../styles/main.css">
    <title>Progger | <%=title%></title>
</head>
<body>
    <div class="wrapper">
        <nav>
            <a href="/">Main</a>
            <a href="/posts">Posts</a>
            <a href="/about">About us</a>
        </nav>
        <main>
            <h1>Main page</h1>
            <h2>Do what you want</h2>
        </main>
        <footer>

        </footer>
    </div>
</body>
</html>