<html>
<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="../styles/main.css">
    <title>Progger | <%=title%></title>
</head>
<body>
    <div class="wrapper">
        <nav>
            <a href="/">Main</a>
            <a href="/posts">Posts</a>
            <a href="/about">About us</a>
        </nav>
        <main>
             <div class="Comment">
                 <h2><%=post.name%></h2>
                 <h4><%=post.text%></h4>
             </div>
        </main>
        <footer>

        </footer>
    </div>
</body>
</html>